@import "tailwindcss";

@utility container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    @media (max-width: 576px) {
        padding-right: 16px;
        padding-left: 16px;
    }

    @media (min-width: 576px) {
        max-width: calc(0.85 * 640px + 32px);
        /* 85% of 640px + 32px padding */
        padding-right: 16px;
        padding-left: 16px;
    }

    @media (min-width: 640px) {
        max-width: calc(0.85 * 640px + 32px);
        /* 85% of 640px + 32px padding */
        padding-right: 16px;
        padding-left: 16px;
    }

    @media (min-width: 768px) {
        max-width: calc(0.85 * 768px + 32px);
        /* 85% of 768px + 32px padding */
        padding-right: 16px;
        padding-left: 16px;
    }

    @media (min-width: 1024px) {
        max-width: calc(0.85 * 1024px + 32px);
        /* 85% of 1024px + 32px padding */
        padding-right: 16px;
        padding-left: 16px;
    }

    @media (min-width: 1280px) {
        max-width: calc(0.85 * 1280px + 32px);
        /* 85% of 1280px + 32px padding */
        padding-right: 16px;
        padding-left: 16px;
    }

    @media (min-width: 1536px) {
        max-width: calc(0.85 * 1536px + 32px);
        /* 85% of 1536px + 32px padding */
        padding-right: 16px;
        padding-left: 16px;
    }
}

@font-face {
    font-family: "shabnam bold";
    src: url("./fonts/shabnam/Shabnam-Bold-FD-WOL.woff2") format("woff2");
    /*400  sight*/
    font-display: swap;
}

@font-face {
    font-family: "shabnam";
    src: url("./fonts/shabnam/Shabnam-FD-WOL.woff2") format("woff2");
    /*500  */
    font-display: swap;
}

@font-face {
    font-family: "shabnam Light";
    src: url("./fonts/shabnam/Shabnam-Light-FD-WOL.woff2") format("woff2");
    /*600  */
    font-display: swap;
}

@font-face {
    font-family: "shabnam Medium";
    src: url("./fonts/shabnam/Shabnam-Medium-FD-WOL.woff2") format("woff2");
    /*600  */
    font-display: swap;
}

@font-face {
    font-family: "shabnam thin";
    src: url("./fonts/shabnam/Shabnam-Thin-FD-WOL.woff2") format("woff2");
    /*600  */
    font-display: swap;
}


@theme {
    --font-shabnamBold: "shabnam bold";
    --font-shabnam: "shabnam";
    --font-shabnamLight: "shabnam Light";
    --font-shabnamMedium: "shabnam Medium";
    --font-shabnamThin: "shabnam thin";
    --color-primary: #CB1B1B;
    --color-gray-1000: #505050;
    --color-Gray-1: #FAFAFA;
    --color-Gray-35: #353535;
    --color-boxHelp: #F9F9F9;
    --text-32: 32px;
    --text-54: 54px;
    --text-gray-71: #717171;
    --text-gray-21: #212121;
    --text-boxHelp: #E1E1E1;
    --color-gray-D9: #D9D9D9
}

.main-home {
    background:
        url("/img/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

@media (max-width: 768px) {
    .main-home {
        width: 100%;
        height: 250px;
    }
}

@utility custom-underline {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-primary);
        bottom: -5px;
        right: 0;
    }
}

@utility custom-underline-hover {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-primary);
        bottom: -5px;
        right: 0;
        opacity: 0;
        transition: opacity 1s ease;
    }
}

@media (hover: hover) {
    .hover\:custom-underline-hover:hover::after {
        opacity: 1;
        transition: opacity 1s ease;
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-line {
    width: 100%;
    height: 3px;
    margin: 3px 0;
    background-color: #000;
    transition: transform 0.5s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.hamburger.open .hamburger-line:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
}

.hamburger.open .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .hamburger-line:nth-child(3) {
    transform: translateY(-11px) rotate(45deg);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}